body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.valid {
  color: green;
}
.invalid {
  color: gray;
}
.check-results {
  width: 190px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
